APPLE_MUSIC_TEAM_ID=YOUR_TEAM_ID
APPLE_MUSIC_KEY_ID=YOUR_KEY_ID
APPLE_MUSIC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPASTE_KEY_HERE\n-----END PRIVATE KEY-----"
PROXY_ACCESS_KEY=
REQUESTS_PER_MINUTE=120
DEVELOPER_TOKEN_TTL_SECONDS=3600
PROXY_ENABLED=true
